* {
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 767px) {
  body>div.col-sm-12 {
    float: left;
  }
  body>div.col-sm-12 {
    width: 95%;
  }
}
  
  /********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  body>div.col-md-1, body>div.col-md-2, body>div.col-md-3, body>div.col-md-4, body>div.col-md-5, body>div.col-md-6, body>div.col-md-7, body>div.col-md-8, body>div.col-md-9, body>div.col-md-10, body>div.col-md-11, body>div.col-md-12 {
    float: left;
  }
  body>div.col-md-1 {
    width: 8.33%;
  }
  body>div.col-md-2 {
    width: 16.66%;
  }
  body>div.col-md-3 {
    width: 25%;
  }
  body>div.col-md-4 {
    width: 30%;
  }
  body>div.col-md-5 {
    width: 41.66%;
  }
  body>div.col-md-6 {
    width: 45%;
  }
  body>div.col-md-7 {
    width: 58.33%;
  }
  body>div.col-md-8 {
    width: 66.66%;
  }
  body>div.col-md-9 {
    width: 74.99%;
  }
  body>div.col-md-10 {
    width: 83.33%;
  }
  body>div.col-md-11 {
    width: 91.66%;
  }
  body>div.col-md-12 {
    width: 95%;
  }
}

@media (min-width: 992px) {
  body>div.col-lg-1, body>div.col-lg-2, body>div.col-lg-3, body>div.col-lg-4, body>div.col-lg-5, body>div.col-lg-6, body>div.col-lg-7, body>div.col-lg-8, body>div.col-lg-9, body>div.col-lg-10, body>div.col-lg-11, body>div.col-lg-12 {
    float: left;
  }
  body>div.col-lg-1 {
    width: 8.33%;
  }
  body>div.col-lg-2 {
    width: 16.66%;
  }
  body>div.col-lg-3 {
    width: 25%;
  }
  body>div.col-lg-4 {
    width: 30%;
  }
  body>div.col-lg-5 {
    width: 41.66%;
  }
  body>div.col-lg-6 {
    width: 45%;
  }
  body>div.col-lg-7 {
    width: 58.33%;
  }
  body>div.col-lg-8 {
    width: 66.66%;
  }
  body>div.col-lg-9 {
    width: 74.99%;
  }
  body>div.col-lg-10 {
    width: 83.33%;
  }
  body>div.col-lg-11 {
    width: 91.66%;
  }
  body>div.col-lg-12 {
    width: 95%;
  }
}
#title {
  text-align: center;
  font-size: 30px;
}

.container {
  padding: 30px 10px 10px;
  background: #808080;
  position: relative;
  top: 10px;
  border: 5px solid black;
  width: 30%;
  height: auto;
}

.topright {
  background: red;
  top: -5px;
  right: -5px;
  position: absolute;
  border: 5px solid black;
  width: 25%;
}
.row {
  float: left;
  margin: 10px;
}
#red{
  background: red;
}
#blue{
  background: #00FFFF;
}
#green{
  background: #90EE90;
}

